body {
   background: url("../images/Final\ Destination.jpg");
   background-color: black;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   font-family: 'Times New Roman', Times, serif;
}

.main-section-title {
   font-size: 300%;
   text-align: center;
}

.section-title {
   font-size: 200%;
}

.character {
   display: inline-block;
   border-style: solid;
   border-color: green;
   border-width: 3px;
   cursor: pointer;
   background-color: white;
}

.character-name {
   text-align: center;
}
.character-health {
   text-align: center;
}

.character-image {
   padding-right: 16px;
   padding-left: 16px;
   margin-top: 3px;
   margin-bottom: 3px;
}

